DATABASE_URL=postgresql://admin:oaeadmin2024@localhost:5432/oae_marketing
SESSION_SECRET=replaceme_openssl_rand_hex_32
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=lax
TRUST_PROXY=1
NODE_ENV=development
PORT=5003
OMDB_API_KEY=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REFRESH_TOKEN=
